<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bán Vé Xem Phim</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
        <li class="nav-item"><a class="nav-link" href="/booking/movies">Đặt vé</a></li>
        <li class="nav-item"><a class="nav-link" href="/movies">Quản lý phim</a></li>
        <li class="nav-item"><a class="nav-link" href="/tickets">Quản lý vé</a></li>
        <li class="nav-item"><a class="nav-link" href="/customers">Quản lý khách hàng</a></li>
        <li class="nav-item"><a class="nav-link" href="/tickets/lookup">Tra cứu vé</a></li>
        <li class="nav-item" th:if="${loggedInCustomer == null}"><a class="nav-link" href="/login"><i class="bi bi-box-arrow-in-right"></i> Đăng nhập</a></li>
        <li class="nav-item dropdown" th:if="${loggedInCustomer != null}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> <span th:text="${loggedInCustomer.name}">Khách hàng</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right"></i> Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html> 